

{{template "header"}}

<div class="jumbotron">
    <h1>Go Demo</h1>
    <p>This is a simple demo using AWS with the AWS SDK for Go. The SDK
        makes it easy to integrate your Go application with the full suite of AWS
        services including Amazon S3, Amazon DynamoDB, Amazon SQS, and more.</p>
    <p><a class="btn btn-primary btn-m">Learn more</a></p>
</div>


</body>
</html>